.review {
  background-color: #ffffff;
  margin: 0 auto;
  width: 90%;
}

.reviewTitle {
  font-family: 'Saira', sans-serif;
  font-weight: 1000;
  font-size: 170%;
}

.reviewHeader {
  width: 90%;
  margin: 0 auto;
}

.reviewText {
  width: 90%;
  margin: 0 auto;


  h2 {
    width: 40%;
    border-bottom: 2px solid #D54B97;
    font-family: 'Saira', sans-serif;
    font-size: 130%;
    margin: 30px 0;
  }

  p {
    display: block;
    margin: 25px auto;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    font-size: 105%;
    overflow-wrap: normal;
  }

  blockquote {
    border-left: 4px solid #ccc;
    border-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    overflow-wrap: normal;
  }
}