.menu {
  width: 80%;
  height: 35px;
  margin: 10px auto;
  padding-top: 5px;
  background-color: rgba(211, 211, 211, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 10px;
  font-family: 'Saira', sans-serif;
  box-shadow: 0 4px 2px -2px gray;
  transition: 0.3s ease-in-out;
}

.menu:hover {
  height: 45px;
  padding-top: 12px;
  transition: 0.3s ease-in-out;
}

.homeMenu-icon {
  width: 50px;
  margin: 3px 15px 0 15px;

  i {
    font-size: 180%;
    color: #ffffff;
    padding-left: 10px;
  }
  i:hover {
    font-size: 230%;
    margin-top: -3px;
  }
}

.searchBar {
  width: 350px;
  height: 30px;
  display: flex;
  margin: 0 45px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 5px;

  i {
    height: 20px;
    margin: 5px;
    color: #304F4E;
  }

  #searchInput {
    font-family: 'Saira', sans-serif;
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin: 5px 0 5px 0;
    font-size: 100%;
    background: none;
    outline: none;
    border: none;
    line-height: 100%;
  }
}