.search-menu {
  width: 80%;
  z-index: 105;
  height: 35px;
  margin: 10px auto;
  padding-top: 5px;
  background-color: rgba(211, 211, 211, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 10px;
  font-family: 'Saira', sans-serif;
  box-shadow: 0 4px 2px -2px gray;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.search-menu.active {
  height: 45px;
  padding-top: 12px;
  transition: 0.3s ease-in-out;
}

.search-menu.scrolled {
  position: fixed;
  top: 1px;
  left: 50%;
  margin-left: -40%;
  overflow: visible;
}

.search-icons {
  margin: 0 auto;
  height: 35px;
}

.searchBar {
  width: 350px;
  height: 30px !important;
  display: flex;
  margin: 0 45px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 5px;

  i {
    height: 20px;
    margin: 5px;
    color: #304F4E;
  }

  #searchInput {
    font-family: 'Saira', sans-serif;
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin: 5px 0 5px 0;
    font-size: 100%;
    background: none;
    outline: none;
    border: none;
    line-height: 100%;
  }
}

.search-icons {
  display: flex;
  flex-direction: row;

  .search-menu-icon {
    width: 50px;
    margin: 3px 15px 0 15px;

    i {
      font-size: 180%;
      color: #ffffff;
      padding-left: 10px;
    }
    i:hover {
      font-size: 230%;
      margin-top: -3px;
    }
  }
}

@media(max-width: 700px) {
  .search-menu {
    padding: 5px 0 5px 0;
    flex-direction: column;
    justify-content: center;

    .searchBar {
      width: 85%;
      margin: 0 auto;
    }
    
    .search-icons {
      display: none;
      width: 100%;
      justify-content: center; 
    }

    .search-icons.active {
      display: flex;
    }

    .searchDisplay-container {
      width: 100% !important;
      margin-top: 84px !important;
      margin-left: -20px;
      max-height: 300px !important;
      background-color: rgba(211, 211, 211, 0.5) !important;
      border-radius: 10px !important;
    }
  }

  .search-menu.scrolled {
    width: 76%;
    margin-left: -33%;
  }

  .search-menu.active {
    height: 80px;
  }

  .search-icons {
    margin: 5px auto 0 auto;
  }
}

.searchDisplay-container {
  #searchResults {

    .result-display:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
    }
  }
}