.feedContainer {
  width: 98%;
  margin-bottom: 64px;
}

// .news, .movieList {
//   width: 60%;
//   margin: 10px auto;
//   min-height: 200px;
//   background-color: #d3d3d3;
//   border-radius: 10px;
//   box-shadow: 7px 7px 5px #888888;
// }

.newsTitle, .movieListTitle {
  font-family: 'Ultra', serif;
  height: 70px;
  line-height: 70px;
  color: #3A3A3A;
  text-align: center;
  font-size: 180%;
  font-weight: 100;
}

.newsItem {
  background-color: #d3d3d3;
  max-height: 300px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  min-height: 300px;
}

.newsItem .fi-image{
  max-height: 300px;
}

.movieList {
  width: 80%;
}