.member {
  position: relative;
  top: 10px;
  left: 50%;
  margin-left: calc(-90%/2);
  margin-bottom: 64px;
  width: 90%;
  min-height: calc(100vh - 400px);
  background-color: #d3d3d3;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: 0.5s ease-in-out;
  overflow-y: auto;
}

.movieFormActive {
  position: relative;
  top: 10px;
  left: 50%;
  margin-left: calc(-90%/2);
  min-height: calc(100vh - 200px);
  transition: 0.5s ease-in-out;
}

.username {
  font-family: 'Saira', sans-serif;
  padding: 10px;
  background-color: #304F4E;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 120%;
    color: #d3d3d3;
  }

  .logout-btn {
    font-size: 100%;
    color: #d3d3d3;
    display: flex;
    flex-direction: row;
    border: thin solid #d3d3d3;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    
    i {
      line-height: 25px;
      margin-left: 10px;
    }
  }
}

.login {
  width: 90%;
  height: 100%;
  margin: 0 auto;

  .memberIcon {
    font-size: 400%;
    color: #3A3A3A;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    padding-top: 10px;
  }

  h2 {
    height: auto;
    max-width: 500px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    font-family: 'Saira', sans-serif;
    span {
      font-family: 'Ultra', cursive;
    }

    #span1 {
      color: #d74898;
    }

    #span2 {
      color: #01ffc4;
    }
  }

  #loginForm {
    background-color: #ffffff;
    max-width: 500px;
    min-height: 250px;
    margin: 10px auto;
    border-radius: 15px;

    label, input {
      font-family: 'Saira', sans-serif;
      font-size: 100%;
    }

    input {
      border: none;
      outline: none;
    }

    #loginForm-username, #loginForm-password {
      width: 300px;
      margin: 20px auto;
      border-bottom: thin solid #3a3a3a;

      input {
        text-align: center;
      }
    }

    #submitBtn {
      display: block;
      width: 75px;
      margin: 0 auto;
    }

    #submitBtn:hover {
      color: #01ffca;
    }

    h3 {
      font-family: 'Saira', sans-serif;
      text-align: center;
      padding-top: 30px;
      height: 40px;
      line-height: 40px;
    }
  }
}